#quote-box {
  background-color: white;
  padding: 2rem;
  width: 40%;
}
#text {
  text-align: center;
}
#author {
  text-align: right;
}
#author::before {
  content: "- ";
}
button {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
}
#quote-box,
button {
  border-radius: 0.25rem;
}
.links {
  display: flex;
  gap: 0.5rem;
}
#container #text,
#author,
button {
  transition: all 0.25s ease-in;
}
button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {

  #quote-box{
    width: 100%;
  }
}
